<div class="animated fadeIn slow">
  <img class="rsp centered" src="assets/dgm_background.png" />
  <div class="centered center">
    <h1 class="light-blue-text text-darken-3 animated tada delay-1s">
      Hola, soy {{ titleName }}.
    </h1>
    <div class="link-container">
      <div
        class="
          light-blue-text
          text-darken-3
          flow-text
          animated
          jello
          delay-3s
          fast
          pad
        "
      >
        <a
          class="sublink light-blue-text text-darken-3"
          href="#"
          routerLink="/about"
          >/Sobre mí</a
        >
      </div>
      <div
        class="
          light-blue-text
          text-darken-3
          flow-text
          animated
          jello
          delay-4s
          fast
          pad
        "
      >
        <a
          class="sublink light-blue-text text-darken-3"
          href="#"
          routerLink="/projects"
          >/Proyectos</a
        >
      </div>
      <div
        class="
          light-blue-text
          text-darken-3
          flow-text
          animated
          jello
          delay-5s
          fast
          pad
        "
      >
        <a
          class="sublink light-blue-text text-darken-3"
          href="#"
          routerLink="/contact"
          >/Contacto</a
        >
      </div>
    </div>
  </div>
</div>
